<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KOLLEK</title>
	<link rel="stylesheet" type="text/css" href="/styles/common.css">
</head>
<body class="dark-mode">
    <%- include('header.html'); %>
	<content>
		<div class="action">
			<h1>CONNECT YOUR WALLET</h1>
			<h2>You need to connect your XUMM wallet before creating events</h2>
			<div class="actions">
				<button id="login" class="action-button" onclick="onConnect()">CONNECT</button>
			</div>
		    <div id="message">You must scan a qrcode with your wallet and accept the request</div>
		</div>
	    <div class="wallet">
	        <img class="wallet-image" src="/media/xumm.png" width="300px">
	        <h1 class="wallet-title">We use <b>XUMM</b> as our preferred crypto wallet</h1>
	        <p>In order to mint NFTs you will need to install <a id="getwallet" href="https://xumm.app/" target="_blank">XUMM wallet</a> in your mobile phone and have some XRP funds as all transactions will be stored in Ripple blockchain</p>
	        <p class="wallet-stores"><a href="/"><img class="getwallet" src="/media/getandroid.png"></a> <a href="/"><img class="getwallet" src="/media/getapple.png"></a> <img class="wallet-qrcode" src="/media/nftdevnet.png" width="100px"></p>
	        <p>Once installed, scan the qrcode to add NFT-DEVNET to XUMM wallet as NFTs in Ripple are in beta for the moment</p>
	        <p>Then go to the <a href="https://xrpl.org/xrp-testnet-faucet.html" target="_blank">faucet</a> to get some test coins to start minting some NFTs, remember to use NFT-DEVNET again</p>
	    </div>
	</content>
    <%- include('footer.html'); %>
	<script>let config = <%-JSON.stringify(config)%></script>
	<script src="/scripts/xumm-pkce.js"></script>
	<script src="/scripts/common.js"></script>
</body>
</html>